
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #5830C4;
}

.sign-in{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    max-width: 475px;
    max-height: auto;
    height: 100%;
    border-radius: 20px;
}

.sign-in img{
    width: 5vw;
}

.sign-in h2{
    font-weight: 600;
    font-size: 1.5rem;
}

.sign-in h4{
    font-weight: 400;
    font-size: 0.9rem;
    color: #6C6C6C;
}

.sign-in label{
    font-weight: 500;
    font-size: 1rem;
    color: #6C6C6C;
}

.sign-in input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 1; /* Firefox */
  }
  
  .sign-in input::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  .sign-in input::-ms-input-placeholder { /* Microsoft Edge */
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.9rem;
  }

.sign-in button{
    width: 100%;
    padding: 0.7em 0em;
    background-color: #5830C4;
}

/* Dashboard */

.dashboard_bg{
    font-family: 'Montserrat', sans-serif;
    border-radius: 0 20px 20px 0;
}

.nav-link{
    font-weight: 600;
    font-size: 1.5rem;
    color: #6C6C6C;
    transition: 0.6s;
}

.nav-item{
    width: 100%;
}


.nav-item:hover{
    border-left: #5830C4 solid 5px;
    transition: 0.3s;
}

.nav-link:hover{
    color: #5830C4;
    transition: 0.6s;
}
.navbar-toggler{
    margin-left: 90% !important;
}
.logout{
    text-align: center;
    margin-top: 55vh;
    
}

.logout a {
    position: sticky;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    transition: 0.6s;
    background: linear-gradient(255.18deg, #5830C5 17.48%, #582ECC 63.57%, #5830C5 88.78%);
    padding: 1rem 4rem;
}

.col-sm h2{
    color: white;
}

.dash_info {
    max-width: 100%;
    height: auto;
}

.dash_info .col-12 div{
    min-height: 48%;
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
}

#pers_detail{
    background-color: #9D30AE;
    color: white;
    min-height: 400px;
}

#bonus{
    background: linear-gradient(194.66deg, #FFC90A -37.5%, #FCE575 40.08%, #FFC90A 104.09%, #FDF681 122.62%, #B783E3 156.18%, #FFFA87 156.18%);
    background-attachment: fixed; 
    color: white;
    min-height: 300px;
}

#community_spot{
    background-color: #2B7A29;
    color: white;
    height: 100%;
}


#user_name{
    position: relative;
    width: 90%;
    background-color: #D33630;
    color: white;
}
#user_img{
    position: absolute;
    width: 13vh;
    height: 10vh;
    right: 1vh;
    align-self: center;
}
#alert-icon{
    color: white;
    width: 8vh;
    height:8vh ;
    align-self: baseline;
    
}
#user_lvl{
    position: relative;
    width: 90%;
    background-color: #12C4B2;
    color: white;
}
#user_lvl_img{
    position: absolute;
    width: 13vh;
    height: 11vh;
    right: 1vh;
    align-self: center;
}

#recent_course{
    position: relative;
    width: 90%;
    background: linear-gradient(169.73deg, rgba(204, 62, 7, 0.23) -132.03%, #DF7377 -58.87%);
    background-attachment: fixed; 
    color: white;
    
}
#recent_course-h3{
    position: absolute;
    color: white;
    left: 22vh;
    top: 10vh;
    opacity: 0.7;
}
#community{
    position: relative;
    width: 90%;
    background: linear-gradient(182.25deg, #AEE1FD -85.84%, #388DF2 67%, #43A6DD 97.45%, #8DB9FD 156.04%, #C1CDE3 259.18%, #D99DCF 259.18%);
    background-attachment: fixed; 
    color: white;
  
}
#community-svg{
    /* image 24 */

    position: absolute;
    width: 13vh;
    height: 11vh;
    right: 1vh;
    top: 3vh;
    

    background: url(image.png);

}
#bonus{
    position: relative;
}
#coin-img{
    align-self: center;
    width: 12vh;
    height: 12vh;
}
.courses_container .col-12 div{
    min-width: 100%;
    min-height: 100%;
    background-color: white;
    border-radius: 30px;
    min-height: 200px;
    padding: 2rem;
}


.courses_container div a{
    text-decoration: none;
    color: #5830C4;
}

@media only screen and (max-width: 40em) { 
    .logout{
        margin-top: auto;
    }
    .dashboard_bg{

        border-radius: 0;
    
    }
    .nav-item{
        width: auto;
    }
} 


/* index all posts*/

.posts_container a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #5830C4;
}

.posts_container a .row{
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
}

.posts_container h3{
    font-weight: 600;
}

.posts_container h5{
    font-weight: 400;
}

.posts_container .row a{
    color: #5830C4;
    background-color: white;
    border-radius: 50px;
    padding: 0em 1.5em;
    border: 0px;
    font-size: 1.5rem;
    width: 40%;
    font-weight: 600;
    text-decoration: none;
}

.posts_container a span{
    float: left;
}

.posts_container a .bi{
    float: right;
    font-size: 4rem;
}


/* comments */

.comments_container{
    overflow-y: scroll;
    height: 80vh;
}

.comments_container .row{
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
    width: 50%;
}

.container .comment_send{
    background-color: white;
    width: 100%;
    padding: 0.5rem;
    border-radius: 50px;
}

.comment_send div{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    
}

.comment_right{
    margin-left: auto; 
    margin-right: 0;
}

.comment_send div input{
    font-weight: 600;
    border: 0;
    width: 70%;
    background-color: transparent;
}

.comment_send button{
    justify-content: end;
    background-color: #5A0FC8;
    border-radius: 100%;
    padding: 0.8rem;
    border: 0;
}

.comment_send input:focus{
    outline: none;
}


/* create pages design */

.creation{
    background-color: white;
    padding: 2rem 2rem;
    border-radius: 10px;
}




/* lessons */

.lessons_container{
    height: 80vh;
}

.lessons_container .row{
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 10px;
}

.youtube-video {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 80%;
    margin-left: 10%;
  }
  /* Edited*/
.btn-div{
    justify-content: space-around;
    margin-left: 20%;
    margin-top: 5px;
}
#btn-previous{
    height: 50px;
    width: 200px;
    border-radius: 19px;
    background-color: #6D7D93;
    border-color: #6D7D93;
    color: white;
   
}
#btn-next{
    height: 50px;
    width: 200px;
    border-radius: 19px;
    background-color: #5A0FC8;
    border-color: #5A0FC8;
    color: white;
    float: right;
}

  /* cycle */

  /* Size and Background  */

  #circles_container{
    min-height: 80vh;
  }

 .container .menu{
    padding-left: 0;
  }

.toggle img {
    width: 70px;
    cursor: pointer;
  }
  .menu li img {
    width: 30px;
  }
  /* Menu Items */
  .menu {
    position: relative;

    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 120px;
    transform: rotate(0deg) translateX(0px);
  }
  /* Animations */
  .menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)) ) translateX(310px);
  }
  .menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px ;
    height: 120px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -8 * var(--i)));
    transition: 1s;
  }
  .menu li a:hover {
    transition: 0;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr); 
  }
  .toggle:hover {
    filter: grayscale(100%);
    box-shadow: 0 0 10px #fff; 
  }
  .menu .toggle {
    position: relative;
    width: 120px;
    height: 120px;
    background: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 10000;
    font-size: 2rem;
    transition: trasform 2.25s;
  }
 