<%- include('../header.ejs') -%>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../nav.ejs') -%>
            <div class="col-sm p-3 min-vh-100">
                <div class="container">
                    <form action="/lessons/course/<%= courseId %>/lesson/new" method="post" class="form-signin creation">
                        <div class="form-group">
                          <label for="name">Name of the lesson</label>
                          <input type="text" class="form-control" name="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="name">Which type you would like to use?</label>
                            <br>
                            <input name="lessonType" type="radio" value="1" onclick="youtube()" /> Video
                            <input name="lessonType" type="radio" value="2" onclick="circles()" /> Circles
                            <br>
                            <div id="data-input">

                            </div>
                            <!-- <input name="lessonType" type="radio" value="2" /> False -->
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script>
        function youtube(){
            document.getElementById('data-input').innerHTML = ''
            document.getElementById('data-input').innerHTML += '<input type="text" class="form-control" name="information" placeholder="Enter youtube identifier">';
        }
        function circles(){
            document.getElementById('data-input').innerHTML = ''
            document.getElementById('data-input').innerHTML += '<input type="text" class="form-control" name="information" placeholder="Enter main title"> <input type="text" class="form-control" name="information" placeholder="Enter main information"><input type="text" class="form-control" name="information" placeholder="Enter main title"> <input type="text" class="form-control" name="information" placeholder="Enter main information">';
        }
    </script>
</body>
</html>